# Python
__pycache__/
*.py[cod]

# Virtual Environment (Local Dependencies)
venv/
.venv/

# IDE
.vscode/
.idea/

# Checkpoints & Data
*.pt
*.wav
.plan*
checkpoints/
data/
wandb/
output/
# But DO track reference wavs
!tests/reference_input.wav
!tests/golden_output.wav
